<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Listing detail</h3>
    <ul>
        <li><%= listData.title %></li>
        <li><%= listData.description %></li>
        <li>&#8377;<%= listData.price.toLocaleString("en-PK") %></li>
        <li><%= listData.location %></li>
        <li><%= listData.country %></li><br><br>
        <a href="/listing/<%= listData._id %>/edit">Edit this listing</a><br><br>
        <form method="post" action="/listing/<%= listData._id %>?_method=DELETE"><button>Delete this listing</button></form>
    </ul>
</body>
</html>